<head>
	
	<meta name='viewport', content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" type="text/css" href='index.css'>

</head>

<body>
	<form action='/createCharge' method='post'>
		<div>
			<div>Username:</div>
			<input type='text' name='username'/>
		</div>
		<div>
			<div>Password:</div>
			<input type='password' name='password'/>
		</div>
		<div>
			<input type='submit' value='Create Charge'/>
		</div>
	</form>
</body>